.navbar {
  width: 100%;
  height: 50px;
  background: var(--inverted-bg-color);
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
  a {
    margin-right: 5px;
    color: var(--primary-color)
  }
}

.logo {
  display: flex;
  height: 100%;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 10px;
  img {
    height: 100%;
  }

  p {
    margin-left: 5px;
    align-self:  center;
  }
}

.themeSwitcher {
  margin-left: auto;
}
